<h1>Listing images</h1>

<table>
  <tr>
    <th>ResourceId</th>
    <th>Label</th>
    <th>DateTime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.sort_by(&:dateTime).each do |image| %>
  <tr>
    <td><%= image.resourceId %></td>
    <td><%= image.label %></td>
    <td><%= image.dateTime %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
